@charset "UTF-8";

.header, .company-label {
	text-align: center;
	height: 40px;
}

.company-list {
	height: 250px;
	padding-top: 10px;
}

.decision {
	text-align: center;
}

.header {
	background-color: #ffdab9;
}

.company-label {
	font-weight: bold;
}

#company-name-label, .header .title {
	vertical-align: middle;
	line-height: 40px;
}

.company-ul{
	height:261px;
	overflow-y:scroll;
}
