<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">
<head>
<title th:text="${viewName}"></title>
</head>
<meta charset="UTF-8" />
<body>
  <div class="main" layout:fragment="contents">
    <form th:action="@{/profile/changePassword/save/}" method="POST" th:object="${changePasswordForm}">
      <table class="table table-bordered">
        <tr>
          <th class="table-info">現在のパスワード</th>
          <td>
            <input type="password" name="currentPassword" th:field="*{currentPassword}" />
          </td>
        </tr>
        <tr>
          <th class="table-info">新しいパスワード</th>
          <td>
            <input type="password" name="newPassword" th:field="*{newPassword}" />
          </td>
        </tr>
        <tr>
          <th class="table-info">新しいパスワード(確認用)</th>
          <td>
            <input type="password" name="newPasswordConfirm" th:field="*{newPasswordConfirm}" />
          </td>
        </tr>
      </table>
      <button class="btn btn-primary" type="submit">保存</button>
    </form>
  </div>
</body>
</html>