<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.fois.sales.infra.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="jp.co.fois.sales.domain.entity.Staff">
    <id column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
    <id column="STAFF_NAME" jdbcType="VARCHAR" property="staffName" />
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
    <result column="POSITION" jdbcType="VARCHAR" property="position" />
    <result column="LAST_NAME" jdbcType="VARCHAR" property="lastName" />
    <result column="FIRST_NAME" jdbcType="VARCHAR" property="firstName" />
    <result column="MAILADDRESS" jdbcType="VARCHAR" property="mailaddress" />
    <result column="TELEPHONE_NUMBER" jdbcType="VARCHAR" property="telephoneNumber" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">

    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    COMPANY_NAME, STAFF_NAME, DEPARTMENT, POSITION, LAST_NAME, FIRST_NAME, MAILADDRESS, 
    TELEPHONE_NUMBER, CREATE_TIME, UPDATE_TIME, CREATE_USER, UPDATE_USER
  </sql>
  <select id="selectByExample" parameterType="jp.co.fois.sales.domain.entity.StaffExample" resultMap="BaseResultMap">

    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SCHEMA01.STAFF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="jp.co.fois.sales.domain.entity.StaffKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SCHEMA01.STAFF
    where COMPANY_NAME = #{companyName,jdbcType=VARCHAR}
      and STAFF_NAME = #{staffName,jdbcType=VARCHAR}
  </select>
  <select id="selectStaffListByCompany" parameterType="java.lang.String" resultType="string">
    select 
    staff_name
    from SCHEMA01.STAFF
    <where>
      <if test="companyName != null">
        COMPANY_NAME = #{companyName,jdbcType=VARCHAR}
      </if>
    </where>
    
  </select>
  
  <select id="selectByCompany" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SCHEMA01.STAFF
    where COMPANY_NAME = #{companyName,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="jp.co.fois.sales.domain.entity.StaffKey">
    delete from SCHEMA01.STAFF
    where COMPANY_NAME = #{companyName,jdbcType=VARCHAR}
      and STAFF_NAME = #{staffName,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="jp.co.fois.sales.domain.entity.StaffExample">
    delete from SCHEMA01.STAFF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jp.co.fois.sales.domain.entity.Staff">
    insert into SCHEMA01.STAFF (COMPANY_NAME, STAFF_NAME, DEPARTMENT, 
      POSITION, LAST_NAME, FIRST_NAME, 
      MAILADDRESS, TELEPHONE_NUMBER, CREATE_TIME, 
      UPDATE_TIME, CREATE_USER, UPDATE_USER
      )
    values (#{companyName,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, 
      #{mailaddress,jdbcType=VARCHAR}, #{telephoneNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="jp.co.fois.sales.domain.entity.Staff">
    insert into SCHEMA01.STAFF
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyName != null">
        COMPANY_NAME,
      </if>
      <if test="staffName != null">
        STAFF_NAME,
      </if>
      <if test="department != null">
        DEPARTMENT,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="lastName != null">
        LAST_NAME,
      </if>
      <if test="firstName != null">
        FIRST_NAME,
      </if>
      <if test="mailaddress != null">
        MAILADDRESS,
      </if>
      <if test="telephoneNumber != null">
        TELEPHONE_NUMBER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null">
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null">
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="mailaddress != null">
        #{mailaddress,jdbcType=VARCHAR},
      </if>
      <if test="telephoneNumber != null">
        #{telephoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jp.co.fois.sales.domain.entity.StaffExample" resultType="java.lang.Long">
    select count(*) from SCHEMA01.STAFF
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SCHEMA01.STAFF
    <set>
      <if test="record.companyName != null">
        COMPANY_NAME = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.staffName != null">
        STAFF_NAME = #{record.staffName,jdbcType=VARCHAR},
      </if>
      <if test="record.department != null">
        DEPARTMENT = #{record.department,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null">
        POSITION = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.lastName != null">
        LAST_NAME = #{record.lastName,jdbcType=VARCHAR},
      </if>
      <if test="record.firstName != null">
        FIRST_NAME = #{record.firstName,jdbcType=VARCHAR},
      </if>
      <if test="record.mailaddress != null">
        MAILADDRESS = #{record.mailaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.telephoneNumber != null">
        TELEPHONE_NUMBER = #{record.telephoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null">
        UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SCHEMA01.STAFF
    set COMPANY_NAME = #{record.companyName,jdbcType=VARCHAR},
      STAFF_NAME = #{record.staffName,jdbcType=VARCHAR},
      DEPARTMENT = #{record.department,jdbcType=VARCHAR},
      POSITION = #{record.position,jdbcType=VARCHAR},
      LAST_NAME = #{record.lastName,jdbcType=VARCHAR},
      FIRST_NAME = #{record.firstName,jdbcType=VARCHAR},
      MAILADDRESS = #{record.mailaddress,jdbcType=VARCHAR},
      TELEPHONE_NUMBER = #{record.telephoneNumber,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{record.createUser,jdbcType=VARCHAR},
      UPDATE_USER = #{record.updateUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jp.co.fois.sales.domain.entity.Staff">
    update SCHEMA01.STAFF
    <set>
      <if test="department != null">
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        LAST_NAME = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null">
        FIRST_NAME = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="mailaddress != null">
        MAILADDRESS = #{mailaddress,jdbcType=VARCHAR},
      </if>
      <if test="telephoneNumber != null">
        TELEPHONE_NUMBER = #{telephoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where COMPANY_NAME = #{companyName,jdbcType=VARCHAR}
      and STAFF_NAME = #{staffName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.co.fois.sales.domain.entity.Staff">
    update SCHEMA01.STAFF
    set DEPARTMENT = #{department,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=VARCHAR},
      LAST_NAME = #{lastName,jdbcType=VARCHAR},
      FIRST_NAME = #{firstName,jdbcType=VARCHAR},
      MAILADDRESS = #{mailaddress,jdbcType=VARCHAR},
      TELEPHONE_NUMBER = #{telephoneNumber,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
    where COMPANY_NAME = #{companyName,jdbcType=VARCHAR}
      and STAFF_NAME = #{staffName,jdbcType=VARCHAR}
  </update>
</mapper>