@charset "UTF-8";

body {
	overflow-x: hidden;
}

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
	width: 15rem;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

@media ( min-width : 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}
	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}
	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}

.view-name {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

.bold {
	font-weight: bold;
	font-size: 25px;
}

.title {
	text-align: center;
}

.main {
	width: 50%;
	margin: 0 auto;
	padding-top: 20px;
}

.view-name-area {
	margin: 0 auto;
	width: 20%;
}

.user-info-area {
	background-color: #fffacd;
	position: relative;
	right: 40px;
	width: 10%;
}

.page {
	width: 50%;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 50px;
	text-align: center;
}

.page-ul {
	width: 120%;
}

.page-li {
	width: 100%;
	line-height: 30px;
	font-size: 20px;
	margin-left: 5px;
}

.page-li-move {
	width: 200%;
}